@font-face {
  font-family: 'NKYFont';
  src: url('https://raw.githubusercontent.com/mseguro/NKY-font/main/NKY.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
